.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}




h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #0077ff;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button a {
  text-decoration: none;

}

.button2 {
  background-color: #d53636;
}

button:hover {
  background-color: #3e8e41;
}

.button2:hover {
  background-color: #f22d2d;
}